/* Light Theme (Default) */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Theme */
[data-theme='dark'] body {
  background-color: #000000 !important;
  color: #ffffff !important;
}

[data-theme='dark'] .input {
  background-color: #555555 !important;
  color: #ffffff !important;
  border-color: #777777 !important;
}

[data-theme='dark'] .form-item {
  margin-bottom: 16px;
}

[data-theme='dark'] .ant-form-item-control.has-error .input {
  border-color: #ff4d4f !important;
}

[data-theme='dark'] .ant-form-item-label > label,
[data-theme='dark'] h2,
[data-theme='dark'] label {
  color: #ffffff !important;
}

/* Table Styles */
[data-theme='dark'] .table {
  border-color: #555555 !important;
}

[data-theme='dark'] thead th {
  background-color: #333333 !important;
  color: #ffffff !important;
}

[data-theme='dark'] tbody tr {
  background-color: #444444 !important;
  color: #ffffff !important;
}

.table-responsive {

  min-width: 300px ;
}

@media (max-width: 377.98px) {
  .table {
    font-size: 0.575rem;
    min-width: 300px;
  }

  .table th, .table td {
    padding: 0.05rem; 
  }
}
